#daemonize urxvt
#urxvtd -q -o -f &

#compton launch
compton -GCb --config $HOME/.i3/compton.conf &
#compton --backend glx --vsync opengl-swc -GCb --config $HOME/.i3/compton.conf &

#set background
#feh --bg-scale ~/img/wallpaper/current_wp.jpg &

#key mapping
#xbindkeys &

#sound
#cadence &
#pavucontrol &
